@page
@model MiniInventory.UI.Pages.Reports.StockReportModel
<h2>Stock Report</h2>
<div class="card-body">
    <table class="table table-bordered table-sm table-striped table-hover">
        <thead class="table-primary">
            <tr>
                <th>Product</th>
                <th>Unit</th>
                <th>Unit Price</th>
                <th>Current Stock</th>
                <th>Report Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model.ReportList)
            {
                <tr>
                    <td>@report.ProductName</td>
                    <td>@report.Unit</td>
                    <td>@report.UnitPrice</td>
                    <td>@report.CurrentStock</td>
                    <td>@report.ReportDate.ToString("yyyy-MM-dd") ?? "N/A"</td>
                </tr>
            }
        </tbody>
    </table>
</div>
